* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'),
    url(./assets/fonts/Poppins-Bold.ttf) format(truetype);
}

@font-face {
  font-family: 'Poppins-Light';
  src: local('Poppins-Light'),
    url(./assets/fonts/Poppins-Light.ttf) format(truetype);
}

@font-face {
  font-family: 'Poppins-Medium';
  src: local('Poppins-Medium'),
    url(./assets/fonts/Poppins-Medium.ttf) format(truetype);
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'),
    url(./assets/fonts/Poppins-Regular.ttf) format(truetype);
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: local('Poppins-SemiBold'),
    url(./assets/fonts/Poppins-SemiBold.ttf) format(truetype);
}
@font-face {
  font-family: 'Rubik-Bold';
  src: local('Rubik-Bold'), url(./assets/fonts/Rubik-Bold.ttf) format(truetype);
}
@font-face {
  font-family: 'Rubik-Light';
  src: local('Rubik-Light'),
    url(./assets/fonts/Rubik-Light.ttf) format(truetype);
}
@font-face {
  font-family: 'Rubik-Medium';
  src: local('Rubik-Medium'),
    url(./assets/fonts/Rubik-Medium.ttf) format(truetype);
}
@font-face {
  font-family: 'Rubik-Regular';
  src: local('Rubik-Regular'),
    url(./assets/fonts/Rubik-Regular.ttf) format(truetype);
}
@font-face {
  font-family: 'Rubik-SemiBold';
  src: local('Rubik-Semibold'),
    url(./assets/fonts/Rubik-SemiBold.ttf) format(truetype);
}
@font-face {
  font-family: 'SourceCodePro-Medium';
  src: local('SourceCodePro-Medium'),
    url(./assets/fonts/SourceCodePro-Medium.ttf) format(truetype);
}
@font-face {
  font-family: 'SourceCodePro-Regular';
  src: local('SourceCodePro-Regular'),
    url(./assets/fonts/SourceCodePro-Regular.ttf) format(truetype);
}
@font-face {
  font-family: 'SourceCodePro-Bold';
  src: local('SourceCodePro-Bold'),
    url(./assets/fonts/SourceCodePro-Bold.ttf) format(truetype);
}
